.header {
  background-color: rgb(43, 43, 43);
  min-height: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.header-link {
  display: flex;
  text-decoration: none;
  color: white;
  align-items: center;
  justify-content: center;
}
.header-link:hover {
  color: rgb(255, 193, 7);
}
.btn-top {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-bar {
  width: 77vw;
  border-style: solid;
  border-color: rgba(220, 220, 220, 0.6);
  box-shadow: 0px 0px 10px 1px black;
  position: relative;
  top: -2.5rem;
}
.nav-bar-link {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.nav-bar-link:hover {
  text-shadow: 0px 0px 10px rgba(255, 193, 7, 0.8);
  color: black;
}
.nav-form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-form-search {
  margin-right: 5px;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: gray;
  background-color: rgba(255, 255, 255, 0.4);
  max-width: 20vw;
  max-height: 1.7em;
}
.nav-form-btn {
  display: flex;
  align-items: center;
  max-height: 1.7em;
  font-weight: 500;
}
